*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;
    
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;       
}

#container-all{
  

    background-image: url('viaLactea.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    
    
}


section#conteudo-view{
    width: 600px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;    
    position: absolute;
    top: 20%;
    left: 35%;
    
}
section#conteudo-view h1{
    padding: 0.5cm 0cm 0cm 0cm;
    font-size: 7em;
    /*color: deepskyblue;*/
    color:  rgba(146,101,71,1);
    text-shadow: 1px 1px 1px #ffffff;
    text-align: center;

}

section#conteudo-view h2{
    font-size: 2em;
    color: rgba(146,101,71,1);
    text-shadow: 1px 1px 1px #ffffff;
    text-align: center;
}

section#conteudo-view form,
section#conteudo-view form label{

}

section#conteudo-view form h3{
    padding: 1.5cm 0cm 0.5cm 1cm;
    font-size: 1.5em;
    color: rgb(146,101,71);
    text-shadow: 0.5px 0.5px 0.5px #ffffff;

}

section#conteudo-view form label input{
    width: 95%;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1.2em;
    
    
    
}
section#conteudo-view form input[type ="submit"] {
    text-align: center;
    font-size: 1.5em;
    color: white;
    width: 30%;
    height: 20%;
    margin-top: 20px;
    margin-left: 400px;
    border-radius: 10px;
    background-color: rgba(146,101,71,1);
    
}